body{
    padding: 0;
    margin: 0;
    font-size: 25px;
    background-color: #a6cdf9;
    font-size: 20px;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-right: 10px;
}
header{
    background-color:#4E9BF4 ;
    padding-top: 1px;
    padding-bottom: 5px;
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;

}
.firstpart{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
.secondpart{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;

}
.thirdpart{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
a{
    color: rgba(255, 255, 255, 0.855);
    text-decoration: none;
}
.za{
    border-radius: 10px;
    background-color: #4E9BF4;
    margin: auto;
    text-align: center;
    padding: 25px;
    width: 300px;
    margin-top: 50px;
}

.al1{
    background-color: #81b9fa;
    color: aliceblue;
    width: 1000000px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
h3{
    color:rgb(255, 255, 255);
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}
